
    <p>Register here</p>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.username.label}}
        {{form.username}}
        <br>
        {{form.first_name.label}}
        {{form.first_name}}
        <br>
        {{form.last_name.label}}
        {{form.last_name}}
        <br>
        {{form.email.label}}
        {{form.email}}
        <br>
        {{form.password1.label}}
        {{form.password1}}
        <br>
        {{form.password2.label}}
        {{form.password2}}
        <br>
        <input type="submit" name="Create User">
    </form>

    {{form.errors}}
