{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row mt-5 text-center m-0 p-0">
            <div class="col-4 text-center">
                <h1> All Projects</h1>
            </div>
            <div class="col-5 " >
            </div>
            <div class="col-3  text-center align-self-center">
                <a href="{% url 'newproj' %}" class="btn btn-primary">Add Project</a>
            </div>
        </div>
    </div>

    <hr />

    <div class="row  mt-2">
        <div class="col text-center align-self-center" id="project-search" >
            <form class="search">
                Search by Keyword
                <input placeholder="Projects" name="search_text"></input>
            </form>
        </div>
    </div>
    <div class="row  mt-2">
        <div class="col" style="padding-top:10px;">           
            <div class="container">
                {% for group_project in projects %}
                    <div class="row text-center justify-content-center mb-4">
                        {%for project in group_project%} 
                        <!-- group_project%} -->
                        <div class="border col-sm-3 p-3 rounded-3 mx-1">
                            <!-- <h4>{{project.name}}</h4> -->
                            <p>
                                <!-- Bootstrap5 buttons: https://www.w3schools.com/bootstrap5/bootstrap_buttons.php -->
                                <a href="{% url 'projectv' %}?id={{project.id}}" class="btn btn-secondary btn-lg">{{project.name}}</a>
                            </p>
                            <p>{{project.discription}}</p>
                        </div>
                        {%endfor%}
                    </div>
                {%endfor%}
                <!-- {# endfor #} -->
                
                <!-- <div class="row">
                    <div class="col-sm-4">
                    <button id="chat_ui">Chat to</button>
                    {# include 'sub_chat.html' #}
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <!--  -->
{% endblock content %}
