{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

<div class="col-md-10" style="padding-top:10px;">
	<div class="row">
		<div class="col-sm-8">
		<a href="{% url 'create_project' %}" class="btn btn-success btn-lg">New Project</a>
		<a href="{% url 'new_task' %}" class="btn btn-success btn-lg">New Task</a>
		</div>
	</div>
	<div id="project-search" class="mt-3 mx-auto p-5" >
		<form class="search">
		Search by Keyword
		<input placeholder="Spaceships" name="search_text"></input>
		<button class="search-btn">
		  <i class="fas fa-search"></i>
	   </button>
		</form>
	  </div>
	
	<hr />
   <div class="container">
	{% for group_project in projects %}
		<div class="row">
			{%for project in group_project%}
			<div class="col-sm-4">
				<p>
				<!-- Bootstrap5 buttons: https://www.w3schools.com/bootstrap5/bootstrap_buttons.php -->
				<a href="{% url 'project' project.id%}" class="btn btn-success btn-lg">{{project.name}}</a>
				</p>
				<p>{{project.discription}}</p>
			</div>
			{%endfor%}
		</div>

	{% endfor %}
   </div>
</div>
{% endblock content %}

