{% extends 'dashboard/base.html' %}
{% load static %}


    {% block content %}

    
        
      <!-- Under Nav -->
        <div class="row mt-3 pe-0 me-0 position-relative">
            <div class="container col-md-9">
                <!-- Project Select -->
                <section class="ms-2 mt-1">
                    <div class="container" >
                        <!-- Select a Project title -->
                        <div class="container d-flex justify-content-between border-bottom p-2">
                            <h3 class="d-flex">
                                Select a Project
                            </h3>
                            <!-- <button class="btn btn-primary bg-gradient d-inline">Add Project</button> -->
                        </div>
                        <!-- Arrows and Projects -->
                        <div class="container mt-5 ps-0">
                            <div class="row">
                                <!-- Left Arrow Container -->
                                <div class="col pe-0">
                                    <div class="rounded-3  bg-gradient" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev" style="width:35px;float: right;background-color:rgb(47, 103, 255);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="180" fill="white" class="bi bi-caret-left" viewBox="0 0 16 16">
                                            <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
                                        </svg>
                                    </div>
                                </div>
                                <!-- Projects container -->
                                <div class="col-md-10">

                                <!-- ********** -->
                                    <div id="carouselExampleDark" class="carousel carousel-dark" data-bs-interval="false"> <!-- slide data-bs-ride="carousel"-->
                                        <div class="carousel-inner">
                                            <div class="carousel-item active" data-bs-interval="false">
                                <!-- *********** -->
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="container text-center p-4 pt-5 border border-secondary rounded-3" height="150">
                                                            <!-- <img class="" src="#" > -->
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                                                                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                                                <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                                                            </svg>
                                                            <h5>Project 1</h5>
                                                            <!-- <p>This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="container text-center p-4 pt-5 border border-secondary rounded-3" height="150">
                                                            <!-- <img class="" src="#" > -->
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                                                                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                                                <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                                                            </svg>
                                                            <h5>Project 2</h5>
                                                            <!-- <p>This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="container text-center p-4 pt-5 border border-secondary rounded-3" height="150">
                                                            <!-- <img class="" src="#" > -->
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                                                                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                                                <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                                                            </svg>
                                                            <h5>Project 3</h5>
                                                            <!-- <p>This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
                                                        </div>
                                                    </div>
                                                </div>
                                <!-- ********************************************** -->

                                <!-- ********************************************** -->
                                            </div>
                                            <div class="carousel-item" data-bs-interval="false">
                                <!-- *********** -->
                                <!-- *********** -->
                                                
                                                <!-- Projects container -->
                                                <div class="col-md-12"> <!------- MAKE Note of 12 for more than -->
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="container text-center p-4 pt-5 border border-secondary rounded-3" height="150">
                                                                <!-- <img class="" src="#" > -->
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                                                                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                                                    <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                                                                </svg>
                                                                <h5>Project 4</h5>
                                                                <!-- <p>This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="container text-center p-4 pt-5 border border-secondary rounded-3" height="150">
                                                                <!-- <img class="" src="#" > -->
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                                                                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                                                    <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                                                                </svg>
                                                                <h5>Project 5</h5>
                                                                <!-- <p>This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="container text-center p-4 pt-5 border border-secondary rounded-3" height="150">
                                                                <!-- <img class="" src="#" > -->
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                                                                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                                                    <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                                                                </svg>
                                                                <h5>Project 6</h5>
                                                                <!-- <p>This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
                                                            </div>
                                                        </div>
                                                    </div>  
                                                </div>
                                                
                                            <!-- *********** -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- *********** -->
                                <div class="col ps-0">
                                    <div class="rounded-3  bg-gradient" type="button"  data-bs-target="#carouselExampleDark" data-bs-slide="next" style="width:35px;float: left;background-color:rgb(47, 103, 255);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="180" fill="white" class="bi bi-caret-right" viewBox="0 0 16 16">
                                            <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
                </section>
                <!-- Project Details -->
                <section class="ms-2 mt-5 pb-4 rounded-3" style="border-top: solid 1px rgba(255, 0, 76,.2);border-bottom: solid 1px rgba(255, 0, 76,.2);"> <!--rgba(33,37,41,.2)-->
                    <div class="container" >
                        <div class="container mt-4">
                            <div class="row">
                                <div class="col pt-3 ps-3 border border-secondary rounded-3 text-center" style="background-color:rgba(33,37,41,.2);" height="150">
                                    <div class="col-9 w-100">
                                        <h3 class="" style="color:rgb(47, 103, 255);">Project Name</h3>
                                        <h5 class="">Deadline</h2>
                                        <p>Short Description about the project blah blah</p>
                                    </div>
                                </div>
                                <!-- files -->
                                <div class="col-3 text-center mt-4 ps-3" height="150">
                                    <h1 class="">8</h1>
                                    <h5 class="pt-4 mt-3">Files</h5>
                                    
                                </div>
                                <!-- Creator and img -->
                                <!-- <div class="col-3 text-center pt-3  pe-5" height="150">
                                    <div class="mb-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="gray" class="bi bi-person-circle" viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                        </svg>
                                    </div>
                                    <h5 class="pt-2">Creator</h5>
                                </div> -->
                                <!-- progress -->
                                <div class="col-3 text-center mt-3" height="150">
                                    <div class="progress">
                                        <div class="progress-bar w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h1 class="pt-3 mb-3">50%</h1>
                                    <h5 class="">Progress</h5>  
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </section>
                <!-- Updates Tasks Deadlines -->
                <section class="container mt-5 pt-2">
                    <div class="container">
                        <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="updates-tab" data-bs-toggle="tab" data-bs-target="#updates" type="button" role="tab" aria-controls="updates" aria-selected="true">Updates</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="tasks-tab" data-bs-toggle="tab" data-bs-target="#tasks" type="button" role="tab" aria-controls="tasks" aria-selected="false">Tasks</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="deadlines-tab" data-bs-toggle="tab" data-bs-target="#deadlines" type="button" role="tab" aria-controls="deadlines" aria-selected="false">Deadlines</button>
                            </li>
                        </ul> -->
                        <div class="row mt-3 text-left">
                            <h5 class="col-5 text-center">Updates</h5>
                            <div class="col"></div>
                            
                            <h5 class="col-5 text-center">Tasks</h5>
                            <div class="col">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-plus-square" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col mt-2 mx-4 rounded-3 p-3 text-start" style="height:25vh;">
                                <div class="">
                                    <ul>
                                        <li class="list-group-item">
                                            <p>Updates for project selected</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Updates for project selected</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Updates for project selected</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">Tasks for the project selected</div>
                                <div class="tab-pane fade" id="deadlines" role="tabpanel" aria-labelledby="deadlines-tab">Deadlines for the project selected</div>
                            </div>
                            <div class="col mt-2 mx-4 rounded-3 p-3 text-start" id="myTabContent" style="height:25vh;">
                                <div class="tab-pane fade show active" id="updates" role="tabpanel" aria-labelledby="updates-tab">
                                    <ul>
                                        <li class="list-group-item">
                                            <div class="">
                                                <div class="row">
                                                    <div class="col-9">
                                                        <p>Tasks for project selected</p>
                                                    </div>
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-pencil" viewBox="0 0 16 16">
                                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                                                </svg>
                                                            </div>
                                                            <div class="col">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-file-x" viewBox="0 0 16 16">
                                                                    <path d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
                                                                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="">
                                                <div class="row">
                                                    <div class="col-9">
                                                        <p>Tasks for project selected</p>
                                                    </div>
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-pencil" viewBox="0 0 16 16">
                                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                                                </svg>
                                                            </div>
                                                            <div class="col">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-file-x" viewBox="0 0 16 16">
                                                                    <path d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
                                                                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="">
                                                <div class="row">
                                                    <div class="col-9">
                                                        <p>Tasks for project selected</p>
                                                    </div>
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-pencil" viewBox="0 0 16 16">
                                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                                                </svg>
                                                            </div>
                                                            <div class="col">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-file-x" viewBox="0 0 16 16">
                                                                    <path d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
                                                                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">Tasks for the project selected</div>
                                <div class="tab-pane fade" id="deadlines" role="tabpanel" aria-labelledby="deadlines-tab">Deadlines for the project selected</div>
                            </div>
                        </div>
                        
                    </div>
                    
                </section>
                
            </div>
            <!-- Contact List -->
            <!-- <div class=" col me-5 pe-3 h-100">
                <div class="">
                    <h2 class="text-center border-bottom">Contact List</h2><br>
                    <ul class="list-group list-group text-begin">
                        <li class="list-group-item me-5 ms-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="gray" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            Contact 1
                        </li>
                        <li class="list-group-item me-5 ms-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="gray" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            Contact 2
                        </li>
                        <li class="list-group-item me-5 ms-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="gray" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            Contact 3
                        </li>
                        <li class="list-group-item me-5 ms-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="gray" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            Contact 4
                        </li>
                        <li class="list-group-item me-5 ms-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="gray" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            Contact 5
                        </li>
                    </ul>
                    <div class="mt-5 mb-5 h-100"></div>
                    
                </div>
            </div> -->

            
        </div>            

    {% endblock content %}
